# Archivos de respaldo
*.bak
*.pre_slide_backup

# Documentos de planificación y borradores
4. Currículo-Priorizado-Superior.pdf
Borrador Presentación.docx
"Fundamentos para la Planificación Docente_ Análisis Estructural del Currículo Nacional (1).pdf"
Guia_de_implementación_del_curriculo_de_LyL-1.pdf
Ideas diapositiva didáctica.txt
Teoría para la clase.docx
